.navbar {
    box-shadow: 1px 1px 10px rgba(192, 192, 192, 0.356);
}

.navbar-brand {
    text-shadow: 2px 2px 10px silver;
}

h1 {
    font-size: 40px;
    text-shadow: 2px 2px 10px silver;
}

h1, .form-group {
    margin-bottom: 25px;
}

.btn {
    margin: 3px;
}

.btn-secondary{
    box-shadow: 2px 2px 10px silver;
}

.list-wrapper {
    margin-top: 50px;
}

.tasks , .products {
    position: relative;
    height: 70vh;
    background-color: whitesmoke;
    padding: 20px;
    margin-bottom: 10vh;
    box-shadow: 2px 2px 10px silver;
    border-radius: 1%;
}

.input-danger {
    border: 3px solid red;
    color: red;
}

.input-info-danger {
    color: red;
    font-size: 12px;
}